<% unless @user.bio[sidebox_bio_section].blank? -%>

	<h3><%= sidebox_bio_section.humanize %></h3>
	<%= content_tag(:p, display_edit_link(@user, link_to('(edit)', edit_user_bio_path(@user))), :class => 'edit-link')%>
	<% output = @user.bio.eval(sidebox_bio_section) %>
	<% unless output.is_a?(TagList) -%>
		<%= output %>
	<% else -%>
	<ul>
		<% output.each do |tag| -%>
		<li><%= link_to tag, search_url(:q => tag) %></li>
		<% end -%>
	</ul>
	<% end -%>
		
<% end -%>