<% titled_box 'Welcome', 'orange' do %>
	<h3>Welcome!</h3>
	<p>
		This is where Viper users can help one another, share tips and tricks, and offer suggestions to
		improve Viper.
	</p>
	
	<h3>The ground rules</h3>
	<p>
		Be civil, reasonable, and helpful. Off-topic, inflammatory, or inappropriate posts will be
		removed at our discretion.
	</p>
<% end %>