[submodule "vendor/plugins/acts_as_list"]
	path = vendor/plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "vendor/plugins/acts_as_textiled"]
	path = vendor/plugins/acts_as_textiled
	url = git://github.com/defunkt/acts_as_textiled.git
[submodule "vendor/plugins/acts-as-taggable-on"]
	path = vendor/plugins/acts-as-taggable-on
	url = git://github.com/mbleigh/acts-as-taggable-on.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/rails/exception_notification.git
[submodule "vendor/plugins/liquid"]
	path = vendor/plugins/liquid
	url = git://github.com/tobi/liquid.git
[submodule "vendor/plugins/permalink_fu"]
	path = vendor/plugins/permalink_fu
	url = git://github.com/technoweenie/permalink_fu.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/rspec_on_rails"]
	path = vendor/plugins/rspec_on_rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/rspec_on_rails_on_crack"]
	path = vendor/plugins/rspec_on_rails_on_crack
	url = git://github.com/technoweenie/rspec_on_rails_on_crack.git
[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/model_stubbing"]
	path = vendor/plugins/model_stubbing
	url = git://github.com/technoweenie/model_stubbing.git
