<div class="post">
<div class="post-title"><h3><%= link_to post.title, post_path(post.blog, post) %></h3></div>
<div class="post-date"><%= post.created_at %></div>
<div class="post-body"><%= post.body %></div>
</div>