<% remote_form_for(:comment, :url => blog_post_comments_path(:post_id => @post.id), :html => { :class => 'form' }) do |form| %>

<fieldset>
  <legend>New Comment</legend>
  <ol>
  	<li>
  		<%= form.text_area :body, :rows => 10, :cols => 40 %>
  	</li>
	<li>
		<%= submit_tag "Create" %>
	</li>
  </ol>
</fieldset>

<% end %>