<% @title = "About All Four Seasons" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>
<h1>About Us</h1>
<p><strong>All Four Seasons Ltd. has been Established Since 1967</strong></p>
<p>All Four Seasons Ltd are a family run company who offer Design, Installation, Service and Maintenance on all Air Conditioning and Heat Pump systems. All Four Seasons are a Member of the Confederation of Trades and Commerce which was set up to promote companies who offer High Standards of Service and Reliability.</p>
<h2>Design &amp; Installation</h2>
<p>We are able to undertake the design and installation of all types of Air-Conditioning &amp; Heat Pump Systems for comfort cooling/heating, close control and specialist applications. As we are not tied to a franchise or limited dealership we are able to propose and supply whatever equipment is most suitable or specified for a project, Therefore offering the most economical and effective solution to all your Air Conditioning and Heating projects from 3kws to 60kws.</p>
<h2>Service &amp; Maintenance</h2>
<p>Our Service and Maintenance engineers have attended training courses in the safe handling of refrigerant gases as well as manufacturers training courses and are fully experienced in the service/maintenance of various types of systems from Daikin, Fujitsu, LG, Sanyo, Suzushi, Toshiba, Mitsubishi, Online, Carrier, Samsung, Qualitair, Prestair, Hitachi, IMI, Panasonic, Sharp And Chigo.</p>
<h2>Workshop</h2>
<p>We have a fully equipped Workshop for the Repair and further works of Air Conditioning / Heat Pump systems. We also carry out the manufacture of equipment for special applications, including ductwork and design.</p>
<h2>Showroom</h2>
<p>At our address in Ewell we have on display a range of Air Conditioning units covering various manufacturers with all associate literature and technical advise.</p>
<hr />
<p class="center">All Four Seasons Ltd are an independently run company and can offer systems from all of the leading manufacturers, such as:</p>
<p class="center"><img alt="Manufacturer Product Logos" src="images/stories/about-us-product-logos.gif" title="Manufacturer Product Logos" /></p>
<% end %>