<%- @title = "Commercial Installations" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>
		
		<h1><%= @title %></h1>
		<p>
			<%= theme_image_tag 'commercial-installations-air-con-in-board-room.jpg', :class => 'caption right', :alt => 'Board Room Installation', :title => 'Board Room Installation', :align => 'right' %>
			All Four Seasons Ltd. have been installing air conditioning systems for over 30 years in a range of different buildings from 8 storey listed buildings to small business premises that required climate control solutions.
		</p>
		<p><img class="caption" src="images/stories/commercial-installations-restaurant-air-con.jpg" border="0" alt="Restaurant Ceiling Installation" title="Restaurant Ceiling Installation" align="left" />We offer a <a href="/free-site-survey">free, no obligation site survey</a> to determine the Heat Load, Solar Gain, Electrical Product Loads and required Kilowatt Capacity to satisfy the heating and cooling requirements. We can provide you with a full detailed written quotation, unit location sketch (if required) and product specification information to assist in your choice of supplier and manufacturers. </p>
		<p>We currently work along side several building firms, architects, designers and surveyors who require our services to assist with their on-going projects. We welcome professionals seeking advice and help, and will endeavour to work with the paramaters.</p>
		<p>
			<%= theme_image_tag 'commercial-installations-desk-air-con.gif', :class => 'caption left', :alt => 'Overhead Desk Installation', :title => 'Overhead Desk Installation', :align => 'left' %>
			We are able to provide a budget quotation within 4 hours.
		</p>
		<p>Our sales support team are always available to discuss any queries you may have regarding your quotation before, during and after you installation.</p>
		<p>We offer Service Maintenance Contracts to certify your units are regularly serviced and checked to ensure your units continue to maintain optimum temperature.</p>
<% end %>