<%- @title = "Domestic Installations" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>
		
		<h1><%= @title %></h1>
		<p>All Four Seasons Ltd have experience in installing air-con systems within all types of domestic properties from 6 bedroom new builds to 1 bedroom flats that require climate control.</p>
		<%= theme_image_tag 'domestic-installations-lounge-air-con.jpg', :class => 'caption left', :alt => 'A standard High Level Wall Mounted Installation within a lounge area', :title => 'A standard High Level Wall Mounted Installation within a lounge area', :align => 'left' %>
		<p>We offer a <a href="/free-site-survey">free, no obligation site survey</a> to determine the Heat Load, Solar Gain, Electrical Product Loads and required Kilowatt Capacity to satisfy the heating and cooling requirement.</p>
		<p>We will provide you with a full detailed written quotation, unit location sketch (if required) and product specification information to assist in your choice of supplier and manufacturers. </p>
		<p>
			<%= theme_image_tag 'domestic-installations-bed-air-con.jpg', :class => 'caption right', :alt => 'A High Level Wall Mounted Split System Installed In A Bedroom Area', :title => 'A High Level Wall Mounted Split System Installed In A Bedroom Area', :align => 'right' %>
			Our sales support team are always available to discuss any queries you may have regarding your quotation before, during and after your installation.
		</p>
		<p>We offer <a href="/maintenance-contracts">Service Maintenance Contracts</a> to certify your units are regularly serviced and checked to ensure your units continue to maintain optimum temperature. </p>
<% end %>