<%- @title = "Floor Standing Tower Type" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>
		
		<h1><%= @title %></h1>
		<p><img align="right" alt="Floor Standing Tower Unit" class="caption" height="225" src="images/stories/specialist-installations-floor-standing-air-con-01.gif" title="Floor Standing Tower Unit" width="114" />Owing to the demand we have adapted our Floor Standing Tower Type systems so they can be installed with a external dry cooler unit up to 30 Metres away, complete with flexible connections and inclusive of pump for temporary installations.</p>
		<p>Alternatively they can be used as a stand by unit using mains water to waste, which makes for a very quick installation. They offer between 5 &amp; 6 kilowatts of sensible cooling as this is a 12 kilowatt evaporator section with a 6 kilowatt single phase rotary compressor.These units have a range of various suitable applications and can provide cooling in some of those specialist areas such as comms room in middle of buildings or residential appartments in blocks.</p>
		<p>These systems could also be used in a residential property to air condition a conservatory using the wasted heat to heat the hot water cylinder or heat a swimming pool, making the hot water free of charge. For commercial premises they could be used to air condition a Hairdressers Salon, again introduce the waste heat into a hot water cylinder, making the hot water free.</p>
		<p>Another example application could be The Marina Application, this could air condition 2 or 3 Cabins with a range of ductwork and vents. It could be used for free hot water or water to waste. The system can take either Fresh water or Seawater as it has a stainless steel heat exchanger.<br /><br /><img align="left" alt="Tower Unit Workings" class="caption" height="176" src="images/stories/specialist-installations-floor-standing-air-con-02.gif" title="Tower Unit Workings" width="250" />This pictures shows the Compressor, Heat Exchange, TEV and Water Control Value, Condensate Pump and Drip Tray which are all easier assessable and are in the conditioned air so as to keep the compressor cool. The control is by thermostat and has a HPLP safety switch.</p>
		<p>If you would like to discuss these systems further please <a href="/contact-us">contact us</a> for suitablity requirements.</p>
<% end %>