<%- @title = "Free Hot Water Waste Heat" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>
		
		<h1><%= @title %></h1>
		<p class="center"><strong>Convert Air Conditioning Waste Heat to Free Hot Water</strong></p>
		<p class="left">If you have Air-conditioning or a Heat pump system then consider an alternative, a Hot Water Recovery Unit from All Four Seasons. While most energy devices consume energy, this device actually <strong>saves energy</strong> that would be normally be <strong>rejected</strong> through the outdoor condenser.</p>
		<p class="left">If you use electric hot water, 50% or more of your electric bill is to heat water. We can eliminate this by recapturing heat that is normally discarded outside, and using it to provide free hot water, thereby reducing the cost of hot water from your electric or gas bill.</p>
		<p class="left">If you have a heat pump unit then the savings are even greater. A heat-pump unit typically uses 1/3 (33%) the electricity to make heat as straight electric heat. Of course, an electric water heater uses 100% electricity to make heat. If connected to a heat pump whenever the unit is running, hot water is being made at a reduced rate. This occurs at any time, not just in the summer.</p>
		<h2><strong>Other benefits:</strong></h2>
		<p class="left">In both air-conditioning mode and heat-pump mode, the compressor will use less electricity and have a longer life. In addition, in air-conditioning mode, the unit will also cool your home more economically as no extra load would be put on the system in a high ambient condition.</p>
		<h2><strong>Investments:</strong></h2>
		<p class="left">You will invest about £1000 for a 12-kilowatt recovery unit. If you want the best system, you will invest another £500 for a second water heater tank, which is a standard 200 litres water heater where the electric elements are not used. (In some cases this is not needed for operation, but it is recommended for maximum efficiency.) The investment for labour to install, budget from £400 to £600. Situations where the existing water heater is located on the opposite side of the house from the air conditioner or heat pump outdoor unit, having to run pipes through finished walls, or going through ceilings, requires more labour, material cost.</p>
		<p class="left">We offer a FREE, NO OBLIGATION quotation to ascertain your requirements and to give you estimated savings on your utility bills.</p>
		<p class="left">If you currenly have a gas fired hot water heater, due to the current cheap cost of natural gas, or oil, the pound value of your savings during the 6-month warm season will be less.</p>
<% end %>