<%- @title = "Free Hot Water Waste Heat" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>
		
		<h1><%= @title %></h1>
		<p>Your Air Conditioner or
Heat Pump can produce
Free Hot Water by using
our Hot Box Heat
Echanger, which
produces Hot water
using your waste heat
from your condenser.
This can be retro fitted
to 90% of units.</p>


	<p>We can also remove your old <span class="caps">R22</span> refrigerant gas and install a drop
in replacement gas so that you are up to date with the new green
house gas legislation.</p>

	<p style="text-align: center;"><%= theme_image_tag 'hotboxreplyrl3.jpg'%></p>

	<p>The above picture shows our mobile demo unit, which we built to
demonstrate how a standard heat pump unit works. We added our
hot box &amp; a 40-gallon hot water cylinder complete with a sink
supplying free hot water.
Behind the unit we cut in a vision panel to show how our unit
extracts the heat from the hot gas made by the A/C. This is
achieved by using a plate heat exchanger, circulation pump and
water control valve to control the head pressure as the system runs
to its optimum efficiently.
This means we can demonstrate this fully
functioning system at exhibitions or design shows</p>
<% end %>