<%- @title = "Hire Contracts" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>
		
		<h1><%= @title %></h1>
		<p>All Four Seasons have a small range of portable units available for short or long term hire, please see below for our charges and discounts.</p>
<p>Here are 3 types of portable units please see below for a brief description of each type:</p>
<h2>Air to Air Type</h2>
<p>These units are floor standing on wheel and have similar to a tumble dryer hose which vents the hot air up out of a window, this hose dimension is approx a 5&quot; diameter.</p>
<h2>Split Type</h2>
<p>These units are floor standing on wheels and have a small box unit that vents the hot air, this small box is roughly the size of a small TV and is attached to the internal unit via a flexible refrigerant line of approx 3 metres. Please note, you may be required to lift the small box in and out of an evening to ensure security of closed windows within your building. The small external box may also drip small amounts of water and therefore can not be hung over any pedestrian areas.</p>
<h2>Window Box Type</h2>
<p>These units are part of our specialist installation and have been designed to suit applications where permanent external units are not permitted. These systems are easerly installed out of a window as a semi-permanent unit. Our Window Box Type Air Conditioning units have specially designed sound reducing fans, adjustable air discharge, easily removable air filters and a one touch control panel opening. PLEASE NOTE: These above Window Box Type units measure 660mm x 450mm in size and require an window/opening of this size or bigger to enable installation</p>
<p><a href="images/stories/pdfs/all4seasons-hire-unit-prices-2008.pdf"><strong>Click here for our Hire Unit Pricelist</strong></a></p>
<% end %>