<% @title = "Homepage" -%>
<% titled_box 'Welcome',
			  'orange',
			  :box_id => 'feature' do %>
<h1>Welcome to <%= SITENAME %></h1>
<p><%= SITENAME %> is a new social network project under development by <a href="http://www.digitalblueprint.co.uk">DigitalBlueprint Ltd</a> to be
used as a foundation for numerous industry and niche specific applications.</p>
<p>Sign up, create a profile and explore some of the functionality that is on offer.</p>
<% end %>