<%- @title = "Maintenance Contracts" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>
		
		<h1><%= @title %></h1>
		<p class="center"><strong>We recommend all Air Conditioning systems be serviced at least once annually to<br />Maintain Optimum Temperature</strong></p>
<p class="left">However if you rely on your system to provide your only source of heating we would recommend you have it serviced twice annually at the beginning of each season.</p>
<p class="left">Being a maintenance customer entitles you to cheaper call outs and lower hourly rates in the unfortunate event of a problem. During busy periods maintenance customers get priority call outs over non-maintenance customers.</p>
<p class="left">A maintenance contract could be one visit a year to keep the warranty valid, monthly filter clean/ replacement or anywhere in between to suit an individual customers requirements.</p>
<p class="left">We offer Budget Maintenance Contracts on all types of air conditioners, heat pumps and ventilation systems, sign up now and you'll save £50 on any call-outs or breakdown.</p>
<p class="left"><strong><a href="images/stories/pdfs/all4seasons-maintenance-charges-2008.pdf" target="_blank">Click Here for Maintenance Customer Charges</a></strong></p>
<h2>Benefits of Being a Maintenance Customer</h2>
<div>
	<p><img align="right" alt="" border="0" src="images/stories/maintenance-contracts-spanner.gif" /></p>
	<ul>
		<li>Peace of mind and guaranteed service</li>
		<li>Qualified and friendly engineers</li>
		<li>Fixed labour rates of £50.00 Per hour</li>
		<li>Savings of £50.00 on call-out breakdowns</li>
		<li>Priority scheduling</li>
		<li>From £90 for 1 unit within 10 miles</li>
	</ul>
</div>
<p><strong>PLEASE NOTE</strong> - Majority of manufacturers are now offering 3-years warrantee on all parts subject to a service maintain contract being taken out. As we are not tied to any one manufacturer we are able to maintain both the systems we install and any other systems you may have on site, thus making it easier to monitor their service history.<br /><br />If you wish to find out more about our costs and charges please use our <a href="/enquiries">contact us</a> page to submit your enquiry. We base our cost on location of your premises and number of systems, if you have this information available please include it in your email so we can offer you a budget quotation for a service maintenance contract.</p>
<% end %>