<%- @title = "Services and Breakdown" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>
		
		<h1><%= @title %></h1>
		<p class="center"><strong>We recommend all air conditioning systems be serviced at least once annually to<br />Maintain Optimum Temperature</strong></p>
<p><img align="right" alt="Faulty PC Motherboard" class="caption" height="240" src="images/stories/services-and-breakdowns-faulty-pc-motherboard.gif" title="Faulty PC Motherboard" width="147" />All Four Seasons are independant of any manufacturers therefore enabling us to service and maintain all types, makes and models of systems. We are happy to offer support and services to new &amp; existing customer who don't hold maintenance contracts. The call-out charges &amp; labour rates are slightly more expense but we will still supply you with our qualified and friendly engineers to resolve all your air conditioning faults.</p>
<p>Regular servicing and scheduled maintenance visits not only keep your system running at maximum efficiency but can prevent costly repairs. Many manufacturers state that if routine maintenance visits are not carried out during the warranty period the warranty may become void. If for example a compressor were to fail and the system not covered under warranty, a cost of anywhere between £600-£2000 + VAT could be payable. Other problems include poor airflow, freezing up and water leaks.</p>
<p><img align="left" alt="Outdoor Unit" class="caption" height="216" src="images/stories/services-and-breakdowns-outdoor-unit-cutout.gif" title="Outdoor Unit" width="193" />If your system require a full maintenance service we can offer this as per of a contract or on a single call-out rate, please contact us for further information and charges.</p>
<p>To request an engineer call-out, whether it be a fault or full service request, we would require written authorisation either faxed or emailed to us. This authorisation must request an enigneer to site, be on your company headed paper or have the full site and invoice address details, also a contact name and telephone number is required. Upon receipt of your authorisation we will schedule an engineer to call in and assess/repair your system.</p>
<p>Our engineers will always endeavour to repair the units on-site without any parts being required, however if parts are required or additional further works our engineer will return to Head Office and arrange for a full written quotation showing costs and labour charges to be sent through to you.<br /></p>
<h2>Helpful Tips</h2>
<ul>
	<li>Check power supply is on and ok</li>
	<li>Check unit is set to correct temperature and settings</li>
</ul>
<p><a href="images/stories/pdfs/all4seasons-non-maintenance-charges-2008.pdf"><strong>Click here for our Non-Maintentance Customer Charges</strong></a></p>
<% end %>