<%- @title = "Specialist Installations" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>
		
		<h1><%= @title %></h1>
		<p>All Four Seasons is a keen innovator of new environmentally friendly solutions and technology and have several optional installations, which are econimcal and could save you energy and £££'s.</p>
		<h2><a href="/site/window-box-units" title="Window Box Units">Window Box Units</a></h2>
		<p>The Window Box type systems have been designed to suit applications where permant external units are not permitted. These systems are easierly installed out of a window as a semi-permant unit. Please see the below diagram of how the unit is positioned.</p>
		<h2><a href="/site/floor-standing-tower-type" title="Floor Standing Tower Type Systems">Floor Standing Tower Type Systems</a></h2>
		<p>Owing to the demand we have adapted our Floor Standing Tower Type systems so they can be installed with a external dry cooler unit up to 30 Metres away, complete with flexible connections and inclusive of pump for temporary installations.</p>
		<h2><a href="/site/free-hot-water-waste-heat" title="Free Hot Water from Waste Heat">Free Hot Water from Waste Heat</a></h2>
		<p>If you have Air-conditioning or a Heat pump system then consider an alternative, a <strong>Hot Water Recovery Unit</strong> from All Four Seasons. While most energy devices consume energy, this device actually <strong>saves energy</strong> that would normally be <strong>rejected</strong> through the outdoor condenser.</p>
<% end %>