<%- @title = "Unit Specifications" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>
		
		<h1><%= @title %></h1>
		<p><a href="images/stories/unit-specifications-large.jpg" rel="lightbox"><img src="images/stories/unit-specifications-small.jpg" border="0" /></a></p>
<% end %>