<%- @title = "Unit Specifications" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>
		
		<h1><%= @title %></h1>
		<p>Click image for a larger diagram.</p>
		<p>
			<a href="<%= theme_image_path 'unit-specifications-large.jpg' %>" class="lightwindow">
				<%= theme_image_tag 'unit-specifications-small.jpg' %>
			</a>
		</p>
<% end %>