<%- @title = "Window Box Units" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>
		
		<h1><%= @title %></h1>
		<p>
			<%= theme_image_tag 'specialist-installations-window-box-air-con-in-lounge.jpg',
					:class	=> 'caption right',
					:title	=> 'Window Box Installation Example',
					:alt	=> 'Window Box Installation Example',
					:align	=> 'right' %>
			The Window Box type systems have been designed to suit applications where permanent
			external units are not permitted. These systems are easierly installed out of a window
			as a semi-permant unit. Please see the below diagram of how the unit is positioned.
		</p>
		<p>
			Our Window Box Type Air Conditioning units have specially designed sound reducing fans,
			adjustable air discharge, easily removable air filters and a one touch control panel
			opening. We have these units avauilable new or a few 2nd user systems available at a
			reduced rate.
		</p>
		<h2><strong>Available in stock now we have:</strong></h2>
		<ul>
			<li>LG Window Box Type Air Conditioning Systems<br />(These units are ex-hire and come
			complete with 1-years warrantee on all parts)</li>
		</ul>
		<h2><strong>Specifications</strong></h2>
		<ul>
			<li>COOLING CAPACITY: 5.2 kW / 17,000 Btu's</li>
			<li>HEATING CAPACITY: 5.2 kW / 17,000 Btu's</li>
			<li>MAX. AREA: 6 M x 6 M</li>
			<li>CEILING HEIGHT: 2.5M</li>
			<li>POWER: 13amp</li>
		</ul>
		<p>
			<strong>Please Note:</strong>
			<br />
			These above LG - Window Box Type units measure 660mm x 450mm in size and require a
			window/opening of this size or bigger to enable installation.
		</p>
		<p style="text-align: center">
			<%= theme_image_tag 'specialist-installations-window-box-diagram.gif',
					:title => 'Window Box Diagram',
					:alt => 'Window Box Diagram' %>
		</p>  
<% end %>