<% titled_box 'Avatar',
			  'orange',
			  :edit_link => link_to('(edit)', edit_avatar_path(@user)) do %>

	<% unless @user.avatar.nil? -%>
		<div style="text-align: center"><%= image_tag @user.avatar.public_filename(:small) %></div>
	<% else -%>
		<div style="text-align: center">No Avatar</div>
	<% end -%>
<% end %>