/* General Table Styles */
table { border-collapse: collapse; }

table tr th
{
	color: #999;
	font-weight: normal;
	font-size:0.8em;
	padding:3px 10px;
	border-bottom: 1px solid #ddd;
}

table tr td { padding:7px; }

table tr th.la { text-align:left; }
table tr td.ca { text-align:center; }
table tr td.inv {  }
table tr td.vat { vertical-align:top; }

table tr td.narrow { padding:2px 5px;}

/* Forum Listing Styles */
table.forums tr th {
	font-size:0.8em;
}
table.forums tr td .title {
	font-size:1.4em; 
}
table.forums tr td .desc {
	margin:0.5em 0;	
}
table.forums tr td
{
	padding:4px 15px;
	border-bottom:1px solid #ddd;
}
table.forums a.tiny
{
	font-size:0.8em;
	color:#666;
}
table.forums .posts
{
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:0.8em;
}
table.forums tr td.c1 {	border-right:0; padding-right:5px; padding-top:7px; }
table.forums tr td.c2 {	border-width:1px 0; padding-left:5px; }
table.forums tr td.c3 {	border-left:0; padding-left:5px; }
table.forums tr td .title {
	font-size:1.4em; 
}

/* Topic Listing Styles */
table.topics tr td.c1
{
	border-right:0;
	padding-right:2px;
}
table.topics tr td.c2 {
 	border-left:0;
	padding-left:2px;
}
table.topics tr td.c3 { border-left:0; }
table.topics tr td.c2 small a { color:#666; }
table.topics tr td.stat { font-size:0.9em; }


/* Other Stuff */
img.icon {
	background:#696;
	background-image: url(/images/clearbits/bg_rounded.gif);
	background-repeat: no-repeat;
	vertical-align: bottom;
}
img.reply { float:right; }
img.orange { background-color:darkorange; }
img.grey { background-color:#ccc; }
img.darkgrey { background-color:#999; }
img.green { background-color:#0c0;}

a.utility
{
	font-weight:normal;
	color:#c00;
}
a.remove { color:#c00; }
a.utility:hover
{
	color:#c00;
	text-decoration:underline;
}
a.subtle { color:#369; }
a.subtle:hover { color:blue; }
