<% if logged_in? and @user != current_user -%>
	<% titled_box 	'Actions', 'blue' do %>
		<ul>
			<li>Send a message</li>
			<li>
				<%= friendship_status(@logged_in_user, @user) %>
				<% unless Friendship.exists?(current_user, @user) -%>
					<br />
					<%= link_to "Add to friends",
								{ :controller => "friendship", :action => "create", :id => @user },
								:confirm => "Send friend request to #{@user.full_name}" %>
				<% end -%>
			</li>
		</ul>
	<% end %>
<% end -%>