<%= render :partial => 'avatars/sidebox_avatar' %>
<%= render :partial => 'users/sidebox_actions' %>
<%= render :partial => 'profiles/sidebox_profile' %>
<%= render :partial => 'bios/sidebox_bio' %>