<%= render :partial => 'sidebox_account_details' %>
<%= render :partial => 'avatar/sidebox_avatar' %>
<%= render :partial => 'profile/sidebox_profile' %>
<%= render :partial => 'bio/sidebox_bio' %>