<% @title = "#{@user.full_name}'s Articles" -%>
<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>

<h2><%=@user.full_name%>'s Recent Articles</h2>
<% unless @articles.length < 1 -%>
	<% for article in @articles -%>
	<div class="blog-post clearfix">
		<%= render :partial => 'articles/article_short', :locals => { :article => article } %>
	</div>
	<% end %>
<% else -%>
	<p>Sorry, this user hasn't written any articles yet, why don't you check back soon?</p>
<% end -%>

<% end %>