<% @title = "Forgot Password" -%>

<p>Fill in the email address you used to create your account and a password reset link will be emailed to you.</p>

<% form_tag url_for(:action => 'forgot_password'), :class => 'form' do %>
<fieldset>
	<legend>Forgot Password</legend>
	<ol>
		<li>
			<label for="email">Email:</label>
			<%= text_field_tag :email, "", :size => 50 %>
		</li>
	</ol>
</fieldset>
<fieldset class="submit">
	<%= submit_tag 'Request Password' %>
</fieldset>
<% end %>