<%- if logged_in? && current_user.feed.size > 0 -%>
<% titled_box 'Latest Activity',
			  'blue' do %>
			  
	<% current_user.feed.each do |feed_item| %>
		<%- unless feed_item.item.nil? -%>
			<div class="minifeed-item clearfix">
	  			<div class="minifeed-icon">
	    			<%= avatar_for feed_item.user, :micro %>
	  			</div>
	  			<div class="minifeed-body">
	    			<%= minifeed_message feed_item %>
	  			</div>
			</div>
		<%- end -%>
	<% end %>
			  
<% end %>
<%- end -%>