<% news = News.find_latest -%>
<% unless news.length < 1 -%>
<% titled_box "Latest News", 'orange' do %>
	<ul>
	<% news.each do |news_item| %>
		<li><%= link_to news_item.title, news_item_path(news_item) %></li>
	<% end %>
	</ul>
<% end %>
<% end -%>