<% content_for :header do -%>
<%= auto_discovery_link_tag(:atom, :action => 'index', :format => :atom) %>
<% end -%>

<% @title = 'News' -%>
		  
<h1><%= @title %></h1>
<%= content_tag(:p, link_to('(Add News Story)', new_news_item_path), :class => 'edit-link') if admin? %>

<% unless @news.length < 1 -%>
<%= render :partial => "news_item", :collection => @news %>
<% else -%>
<p>Sorry, there are no news items at the moment, why don't you check back soon?</p>
<% end -%>