<% if @invalid %>
<p class="error">Sorry, we couldn't handle your query, please check the format of your postcode or search query.</p>
<% end %>
<% if @users %>
<p class="<%= @users.length > 0 ? 'success' : 'notice' %>">Found <%= pluralize(@users.length, "match") %>.</p>
<% end %>