<% form_tag({ :action => "search" }, :method => "get", :class => "form") do %>
<fieldset>
  <legend>Search</legend>
  <ol>
  	<li>
      <label for="q">Search for:</label>
      <%= text_field_tag "q", params[:q] %>
      <input type="submit" value="Search" />
  	</li>
  </ol>
</fieldset>
<% end %>