
A user has contacted you through the <%= SITENAME %> website.
=============================================================

Name: <%=@name%>
Company: <%=@company%>
Phone: <%=@phone%>
Email Address: <%=@email%>

Message: <%=@subject%>
---------------------------------
<%=@message%>
---------------------------------

Generated at <%= Time.now.to_s %>