<% titled_box 'Avatar',
			  'orange',
			  :edit_link => display_edit_link(@user, link_to('(edit)', edit_user_avatar_path(@user))) do %>

	<% unless @user.avatar.nil? -%>
		<div style="text-align: center">
			<%= link_to image_tag(@user.avatar.public_path(:small), :alt => @user.full_name), @user.avatar.public_path(:large), :title => @user.full_name, :class => 'lightwindow' %>
		</div>
	<% else -%>
		<div style="text-align: center">No Avatar</div>
	<% end -%>
<% end %>