<% @title = "Contact Us" -%>
<% titled_box 'Contact Us',
			  'orange',
			  :box_id => 'feature' do %>
<h1>Contact Us</h1>
<p><%= SITENAME %> is a new social network project under development by <a href="http://www.digitalblueprint.co.uk">DigitalBlueprint Ltd</a> to be
used as a foundation for numerous industry and niche specific applications.</p>
<p><a href="http://www.digitalblueprint.co.uk">DigitalBlueprint Ltd</a> is a small web design company located in East Sussex that specialises
in Ruby on Rails. To find out more, or to contact us directly please visit <a href="http://www.digitalblueprint.co.uk">our website.</a></p>
<% end %>