<% @title = "Homepage" -%>
<h1>Welcome to Our Site</h1>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tellus. Pellentesque
hendrerit, dui at suscipit convallis, elit ipsum euismod ante, eu ornare libero nisi a pede.
Nunc blandit tellus a enim. Curabitur dignissim, arcu gravida gravida placerat, odio neque
vulputate sem, quis ornare sem tellus ultrices sem.</p>