<% posts = Post.find_latest -%>
<% unless posts.length < 1 -%>
<% titled_box 	'Latest Blogs', 'blue', :css_class => 'col-one' do %>
	<ul>
	<% posts.each do |post| %>
		<li><%= link_to post.title, post_path(post.blog, post) %></li>
	<% end %>
	</ul>
<% end %>
<% end -%>