<% posts = Post.find_latest -%>
<% unless posts.length < 1 -%>
<div class="<%= css_class %>">
	<h3><%= link_to 'Latest Blog Posts', blogs_path %></h3>
	<ul>
	<% posts.each do |post| %>
		<li><%= link_to post.title, blog_post_path(post.blog, post) %></li>
	<% end %>
	</ul>
</div>
<% end -%>