<% @title = 'Manage Blog Posts' -%>

<% titled_box @title,
			  'pink',
			  :edit_link => link_to('(New Post)', new_post_path),
			  :box_id => 'feature' do %>

<p><%= will_paginate(@posts) if @posts.length > Post.per_page %></p>

<%= render :partial => "post", :collection => @posts %>

<% end %>