<%- unless minifeed_item.item.nil? -%>
<div class="minifeed-item">
  <div class="minifeed-icon">
    <%= avatar_for minifeed_item.user, :micro %>
  </div>
  <div class="minifeed-body">
    <%= minifeed_message minifeed_item %>
  </div>
</div>
<%- end -%>