<% @title = 'Recent Articles' -%>
<h1><%= @title %></h1>
<% unless @articles.length < 1 -%>
	<% for article in @articles -%>
		<%= render :partial => 'articles/article_short', :locals => { :article => article } %>
	<% end %>
<% else -%>
	<p>Sorry, there are no articles at the moment, why don't you check back soon?</p>
<% end -%>